*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background-color: #262626ff;
}

.battery{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    height:320px;
    width:180px;
    border-radius: 10px;
    border:5px solid black;
    box-shadow: 1px -5px 80px black;
}

.box{
    position:absolute;
    height:30px;
    width:50px;
    bottom:100%;
    background-color: #262626ff;
    border:5px solid black;
    box-shadow: 1px -5px 80px black;
}

span{
    height:20%;
    width:95%;
    margin:5px;
    border-radius:10px;
    animation:change 4s linear infinite;
}

.battery:after{
    content: '';
    display:block;
    position:absolute;
    height:100%;
    width:95%;
    top:0;
    background-color: #262626ff;
    animation:battery 4s linear infinite;
}

@keyframes change {
    0%{
        background-color: red;
    }
    25%{
        background-color: orange;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: limegreen;
    }
}

@keyframes battery{
    0%{
        height:100%;
    }
    20%{
        height:80%;
    }
    40%{
        height:60%;
    }
    60%{
        height:40%;
    }
    80%{
        height:20%;
    }
    100%{
        height:0%;
    }
}